*{
  margin: 0;
  padding: 0;
}

.hero-wrapper{
  width: 100%;
  height: 100vh;
  /* height: 90vh; */
  @include pad() {
    height: 80vh;
  }
  @include phone() {
    height: 100vh;
  }
}

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f7ffec;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 80px;
  z-index: 10;

  @include pad() {
    font-size: 60px;
    line-height: 50px;
    text-align: center;
    top: 40%;
  } 
  @include phoneX() {
    font-size: 55px;
  } 
  @include phone() {
    top: 50%;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
  } 
}

.ticket__headline {
  margin-top: 60px;

  @include pad() {
    .container headline__wrapper {
      margin-top: 50px;
    }
  } 
}


.images{
  width: 100%;
  height: 110%;
  position: relative;
  z-index: -1;
  top: -10%;
}

.image-wrapper{
  position: absolute;
  /* width: 100%; */
  width: 100vw;
  /* height: 100%; */
  /* height: auto; */
  height: 100vh;
  bottom: 0;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
#first {
  background-image: url('~@/assets/images/home_banner/h5.png');
}
#second {
  background-image: url('~@/assets/images/home_banner/h4.png');
}
#third {
  background-image: url('~@/assets/images/home_banner/h3.png');
}
#forth {
  background-image: url('~@/assets/images/home_banner/h2.png');
}
#fifth {
  background-image: url('~@/assets/images/home_banner/h1.png');
}

@media (max-width: 375px) {
  #first, #second, #third, #forth, #fifth, #sixth {
      /* background-size: 100px auto; */
  }
}

.content {
  /* height: 100%; */
  width: 100%;
  // height: 90vh;
  background-color: #dae7e8;
  z-index: 0;
  /* top: 100%; */
  top: 90%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding-top: 350px;
  padding-top: 150px;
  // padding-bottom: 150px;
  padding-bottom: 0px;
  box-sizing: border-box;

  @include pad() {
    // padding-bottom: 250px;
  }
}

.content-wrapper{
  // height: 100%;
  height: 100%;
  // height: auto;
  width: 100%;
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dae7e8;
}

.content-images {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  top: -100px;

  @include pad() {
    width: 90%;
  }
}

.content-image-wrapper {
  // height: 220px;
  height: auto;
  // width: 150px;
  width: 230px;
  text-align: center;
  position: relative;
  transition: all 0.3s;

  &:hover {
    transform: translateY(-10px);
  }
}

.content-image-wrapper img{
  max-width: 100%;
  width: 100%;
  // max-height: 100%;
  // height: 100%;
  height: auto;
  @include pad() {
    max-width: 90%;
    width: 90%;
  }
}

.blur {
  // width: 120%;
  width: 100%;
  // margin-left: -10%;
  height: 250px;
  background-color: #d9e7e8;
  position: absolute;
  // bottom: -180px;
  bottom: -150px;
  // filter: blur(40px);
  // z-index: 999;
    
}

.one {
  top: -10px;
}
.two {
  // top: -50px;
  top: -30px;
}
.three {
  top: 20px;
}
.four {
  top: -20px;
}

.content-image-wrapper h4 {
  font-size: 1.8em;
  position: relative;
  top: -30px;
  opacity: 0.6;
}

.text {
  // padding-top: 100px;
  // padding-top: 200px;
  padding-top: 10px;
  padding-bottom: 250px;
  width: 60%;
  // font-size: 0.8em;
  font-size: 16px;
  text-align: center;
  color: #3b3a3d;
  line-height: 27px;

  @include pad() {
    width: 90%;
  }
}

